# Dependencies
node_modules/
.pnp
.pnp.js

# Testing / temporary test images
test*.png

# Production build outputs
dist/
build/

# TypeScript build cache
*.tsbuildinfo

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
